<h2>{{ title }}</h2>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Country</th>
    <th scope="col">Country code</th>
    <th scope="col">City</th>
    <th scope="col">Street</th>
    <th scope="col">Settlement currency</th>
    <th scope="col">Contact person</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody *ngFor="let agency of agencies; index as i">
  <tr>
    <td>{{agency.name}}</td>
    <td>{{agency.country}}</td>
    <td>{{agency.countryCode}}</td>
    <td>{{agency.city}}</td>
    <td>{{agency.street}}</td>
    <td>{{agency.settlementCurrency}}</td>
    <td>{{agency.contactPerson}}</td>
    <td>
      <button class="btn btn-primary" (click)="openEdit(edit_agency_modal, agency)">Edit</button>
    </td>
    <td>
      <button class="btn btn-primary" (click)="onRemove(agency.id)">Remove</button>
    </td>
  </tr>
  </tbody>
</table>

<button class="btn btn-lg btn-outline-primary" (click)="open(add_agency_modal)">Add agency</button>

<ng-template #add_agency_modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="add-agency-modal-title">New agency details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <create-agency-form (newItemEvent)="newAgencyAdded($event)" [modal]="modal"></create-agency-form>
  </div>
</ng-template>

<ng-template #edit_agency_modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="edit-agency-modal-title">Agency details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm">
      <div class="form-group">
        <label for="nameEdit">Name</label>
        <input
          required
          formControlName="name"
          id="nameEdit"
          type="text"
          class="form-control">
      </div>

      <div class="form-group">
        <label for="countryEdit">Country</label>
        <input
          required
          formControlName="country"
          id="countryEdit"
          type="text"
          class="form-control"/>
      </div>

      <div class="form-group">
        <label for="countryCodeEdit">City</label>
        <input
          required
          formControlName="countryCode"
          id="countryCodeEdit"
          type="text"
          class="form-control"/>
      </div>

      <div class="form-group">
        <label for="cityEdit">City</label>
        <input
          required
          formControlName="city"
          id="cityEdit"
          type="text"
          class="form-control"/>
      </div>

      <div class="form-group">
        <label for="streetEdit">Street</label>
        <input
          required
          formControlName="street"
          id="streetEdit"
          type="text"
          class="form-control"/>
      </div>

      <div class="form-group">
        <label for="settlementCurrencyEdit">Settlement currency</label>
        <input
          required
          formControlName="settlementCurrency"
          id="settlementCurrencyEdit"
          type="text"
          class="form-control"/>
      </div>

      <div class="form-group">
        <label for="contactPersonEdit">Contact person</label>
        <input
          required
          formControlName="contactPerson"
          id="contactPersonEdit"
          type="text"
          class="form-control"/>
      </div>
      <button class="btn btn-primary" (click)="updateAgency();modal.dismiss('Submitted')">Edit</button>
    </form>
  </div>
</ng-template>
